@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  @media (max-width: 575.98px) {
    padding: 10px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;

      @media (max-width: 399.98px) {
        font-size: 20px;
      }
    }

    p {
      color: #7b7b7b;

      @media (max-width: 399.98px) {
        font-size: 12px;
      }
    }
  }

  .header__cart {
    margin-left: 15px;
  }

  .header__cart-price {
    @media (max-width: 767.98px) {
      display: none;
      margin: 0;
    }
  }

  @media (max-width: 767.98px) {
    .button__delimiter {
      display: none;
    }

    .button--cart {
      padding: 10px 15px;
    }

    .button {
      min-width: 60px;
    }
  }
}
