.root {
  position: relative;
  margin-left: 15px;
  width: 26.3%;

  .input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 8px 15px 8px 25px;
    background: url('../../assets/img/search.svg') no-repeat 5px center;
    width: 100%;

    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }

  .clearIcon {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    opacity: 0.3;
    cursor: pointer;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 4px;

    &:hover {
      opacity: 0.8;
    }
  }
}
